<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="og:type" content="website">
    <meta name="og:image" content="">
    <meta name="og:url" content="https://makingstuffs.co.uk">
    <meta name="twitter:title" content="Making Stuffs // Full Stack Web Developer"></meta>
    <meta name="twitter:card" content="summary"></meta>
    <meta name="twitter:site" content="@MakingStuffs"></meta>
    <meta name="twitter:creator" content="@MakingStuffs"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Paul Singh" />
    <meta
    name="description"
    content="Fullstack web/app developer from London, UK. Specialising in modern JavaScript, WordPress, Node JS and many frameworks/ libraries. Currently freelancing and open to offers."
    />
    <meta name="og:title" content="Making Stuffs // Full Stack Web Developer" />
    <meta
      name="og:description"
      content="Fullstack web/app developer from London, UK. Specialising in modern JavaScript, WordPress, Node JS and many frameworks/ libraries. Currently freelancing and open to offers."
    />
    <title>Making Stuffs // Full Stack Web Developer</title>
    <%- include('partials/head-images.ejs') %>
  </head>
  <body>
    <div class="page-loader" aria-visible="false">
      <div class="loader-dots">
        <span class="loader-dot"></span>
      </div>
    </div>
    <%- include('partials/home/header.ejs') %>
    <% if (recaptcha_key) { %>
      <script nonce="<%= nonce %>" src="https://www.google.com/recaptcha/api.js?render=<%= recaptcha_key %>" defer></script>
      <% } %>
    <%- include('partials/contact-form.ejs') %>
    <%- include('partials/nav.ejs') %>
    <%- include('partials/home/about-me.ejs') %>
    <%- include('partials/home/recent-work.ejs') %>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
